.header {
    background-color: $colorBlue;
    padding: 100px 0px 50px 350px;
    img {
        border-radius: 50%;
        // still need to change picture size and location
        margin: 0 auto;
        box-shadow:
    }
    button {
        background-color: $colorBlue;
        padding: 10px 10px 10px 10px;
    }
    h6 {
        color: $colorWhite;
    }
    h1 {
        color: $colorWhite;
        .span {
            opacity: 0.4;
        }
    }
}

